.testimonial::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 20px 0 0;
    border-color: #fff transparent transparent transparent;
    bottom: -20px;
    left: 30px;
}
.testimonial::before {
    background-color: #95ae47;
    position: absolute;
    content: '“';
    font-family: Georgia,times new roman;
    top: 15px;
    left: 0;
    /* background-color: #4ab9cf; */
    color: #fff;
    width: 30px;
    height: calc(100% - 32px);
    font-size: 40px;
    text-align: center;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    line-height: 56px;
}