.d1{background: lightgreen;}
.d2{background: green;}
.d3{background: pink;}
.d4{background: orange;}
.d5{background: red;}

/* .nav-link {
    color: #fff;
    text-decoration: none;
    margin: 5px;
} */

body {
    width: 100%;
    margin: 0px;
}

header {
    width: 100%;
    margin: 0px;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    /* grid-auto-rows: auto; */
}

.wrapper > div {
    /* padding: 1em; */
    /* background: grey; */
    border: 1px solid black;
}

.nested {
    display: grid;
    grid-template-columns: 1fr;
    
}

.nested-box1 {
    padding: 2px;
    border: 1px solid black;
    background: #ddd;    
}

.nested-box2{
    padding: 15px;
    background: #4a485f;
    color: #fff;
    font-size: larger;
    text-align: center;
}

.nested-box2>a {
    color: #fff;
    font-size: large;
    text-decoration: none;
    margin: 5px;
}

.flex-container {
    display: flex;
}

.innergrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-gap: 5px; */
    grid-template-rows: 1;
    justify-items: center;
    /* align-items: center; */
}

.ourservicegrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2;
    grid-gap: 10px;
    justify-items: center;
}

.footergrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1;
    grid-gap: 10px;
    justify-items: center;
}

.btn {
    padding: 3px;
    text-align: center;
    background: green;
    color: #fff;
    border: 1px solid grey;
}